.task-title {
  color: black;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.status-box{
  cursor: pointer;
}
.list-item {
  position: relative;
  padding: 12px 8px 12px 0px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item:nth-child(odd) {
  background: white;
}

.list-item:hover {
  background: #3f51b5;
}

.todo-list {
  list-style-type: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.input-container {
  margin-top: 25px;
}

.title-buttons {
  margin: '0 px auto';
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
.todo-buttons{
  margin-bottom: 3px;
  font-size: 14px;
}